<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.road.road1971user">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.SignInActivityEmail"
            android:theme="@style/AppThemeBlackAccent"/>
        <activity android:name=".view.activity.FixTripGmapActivity" />
        <activity android:name=".view.activity.FixTripDetailsActivity" />
        <activity android:name=".view.activity.BidDetailsActivity" />
        <activity
            android:name=".view.activity.RentExcavatorActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.RentCycleActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.RentCngActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.RentBusActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.BikeRideActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.RentMicroActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.RentCarActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.RentTruckActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.activity.SignUpActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity
            android:name=".view.activity.SignInActivity"
            android:theme="@style/AppThemeBlackAccent" />
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
    </application>

</manifest>